.site-navbar .site-navigation .site-menu .cta{
    margin-right: 30px;
    margin-left: initial;
}
.select-wrap .icon, .wrap-icon .icon{
    left: 10px;
    right: initial;
}
.block-13, .slide-one-item{
    direction: ltr;
}
html,body{text-align:right;}
.listing .lh-content .bookmark,.listing-item .bookmark{
    left: 20px;
    right: initial;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}